<footer class="bg-orange" ng-if="!isSpecificPage()">
    <div class="col-xs-3">
        <img src="/landingPage/images/favicon-32x32.png" alt="">
    </div>
    <div class="text-right footer-menu col-xs-9">
        <a href="/" style="color: #fff; margin-left: 8px;" data-translate="home"></a>
        <a href="" style="color: #fff; margin-left: 8px;" data-translate="about"></a>
        <a href="" style="color: #fff; margin-left: 8px;" data-translate="faq"></a>
        <a href="" style="color: #fff; margin-left: 8px;" data-translate="contact"></a>
    </div>
</footer>