<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/"><img ng-src="{{ $root.baseUrl }}/images/logo.png" alt="Teachur"></a>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <section class="row signin-social text-center">
                    <h1>Forgot your password?</h1>
                    <p>Enter your email address and we'll get you back on track.</p>
                </section>


                <form name="forgotPasswordForm" class="form-horizontal" ng-submit="submit()" novalidate>
                    <div class="alert alert-success" role="alert" ng-if="formSubmitted && success">
                        Reset link has been sent to your email.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="formSubmitted && forgotPasswordForm.$invalid">
                        Please fill in all the required fields
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="invalid">
                        User with that email/username doesn't exist.
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="fa fa-user fa-fw"></span>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       placeholder="username or email"
                                       ng-model="userId",
                                       ng-required="true"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Request reset link</button>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center text-muted text-small"><a ui-sref="login" >Log in now</a></p></p>
                </section>
                
            </div>
        </div>
    </div>

</div>