<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/"><img ng-src="{{ $root.baseUrl }}/images/logo.png" alt="Teachur"></a>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <section class="row signin-social text-center">
                    <h1>Enter the new password</h1>
                </section>


                <form name="resetPasswordForm" class="form-horizontal" ng-submit="submit()" novalidate>
                    <div class="alert alert-danger" role="alert" ng-if="formSubmitted && resetPasswordForm.$invalid">
                        Please fill in all the required fields.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="formSubmitted && passwordsMismatch">
                        Please enter matching passwords.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="invalid">
                        Your password reset token is not valid.
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="fa fa-lock fa-fw"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="New password"
                                       ng-model="newPassword",
                                       ng-required="true"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="fa fa-lock fa-fw"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="Confirm new password"
                                       ng-model="newPasswordConfirmation",
                                       ng-required="true"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Change password</button>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center text-muted text-small"><a ui-sref="login" >Log in now</a></p></p>
                </section>
                
            </div>
        </div>
    </div>

</div>