<div class="row">
    <div class="col-md-12 text-center">
        <h4>{{ assessment.question }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" ng-repeat="answer in assessment.answers" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-default btn-block" style="white-space: normal;" ng-class="{ 'btn-primary': userAnswers[$parent.$index].index === $index }" ng-click="userAnswers[$parent.$index] = { index: $index }">{{ answer }}</button>
    </div>
</div>