<section class="page">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">{{ 'siteTour' | translate }}</h2>
            <iframe src="https://player.vimeo.com/video/166112188" style="display: block; margin: 10px auto;" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">{{ 'howToCreateADegree' | translate }}</h2>
            <iframe src="https://player.vimeo.com/video/165935689" style="display: block; margin: 10px auto;" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">{{ 'howToCreateACourse' | translate }}</h2>
            <iframe src="https://player.vimeo.com/video/165939270" style="display: block; margin: 10px auto;" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">{{ 'howToCreateALesson' | translate }}</h2>
            <iframe src="https://player.vimeo.com/video/167009379" style="display: block; margin: 10px auto;" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">{{ 'howToCreateAnObjective' | translate }}</h2>
            <iframe src="https://player.vimeo.com/video/167014185" style="display: block; margin: 10px auto;" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</section>