<div class="form-group">
    <label for="name">{{'directives.assessment.question' | translate}}</label>

    <p ng-show="!editMode[$index] && !assessment.new">{{ assessment.question }}</p>

    <textarea type="text" name="question" class="form-control" rows="2" ng-model="assessment.question" ng-show="assessment.new || editMode[$index]"></textarea>

    <div ng-messages="assessment.question.$error" style="color:maroon" role="alert"
         ng-if="assessment.question.$dirty">
        <div ng-message="required" data-translate="label-required"></div>
    </div>
</div>
<h5>{{'directives.assessment.answers' | translate}}</h5>
<div class="form-inline mb mt" ng-repeat="answer in assessment.answers">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="answer.text" ng-disabled="true" ng-show="!editMode[$parent.$index] && !assessment.new">
        <input type="text" class="form-control" ng-model="answer.text" ng-show="editMode[$parent.$index] || assessment.new">
    </div>
    <div class="checkbox">
        <label ng-show="!editMode[$parent.$index] && !assessment.new">
            <input type="checkbox" ng-model="answer.correct" ng-disabled="true"> {{'directives.assessment.correct' | translate}}
        </label>
        <label ng-show="editMode[$parent.$index] || assessment.new">
            <input type="checkbox" ng-model="answer.correct"> {{'directives.assessment.correct' | translate}}
        </label>
    </div>
</div>
<div class="form-group mb" ng-show="editMode[$index] || assessment.new">
    <button type="button" class="btn btn-primary" ng-click="assessment.answers.push({})">{{'directives.assessment.addAnswer' | translate}}</button>
</div>