<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong data-translate="profile.interests"></strong>
            </div>
            <div class="panel-body">
                <h4>{{ 'directives.interests.academic' | translate }}</h4>
                <interests current-user="user" type="academic"></interests>
                <h4>{{ 'directives.interests.personal' | translate }}</h4>
                <interests current-user="user" type="personal"></interests>
                <div class="form-group text-right">
                    <button type="button" class="btn btn-primary" ng-click="saveUser()" data-translate="operations.save"></button>
                </div>
            </div>
        </div>
    </div>
</div>