<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong data-translate="profile.social"></strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label data-translate="profile.social.twitter"></label>
                            <input type="text" class="form-control" ng-model="user.social.twitter">
                        </div>
                        <div class="form-group">
                            <label data-translate="profile.social.website"></label>
                            <input type="text" class="form-control" ng-model="user.social.website">
                        </div>
                        <div class="form-group">
                            <label data-translate="profile.social.google"></label>
                            <input type="text" class="form-control" ng-model="user.social.google">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label data-translate="profile.social.linkedin"></label>
                            <input type="text" class="form-control" ng-model="user.social.linkedin">
                        </div>
                        <div class="form-group">
                            <label data-translate="profile.social.quora"></label>
                            <input type="text" class="form-control" ng-model="user.social.quora">
                        </div>
                        <div class="form-group">
                            <label data-translate="profile.social.github"></label>
                            <input type="text" class="form-control" ng-model="user.social.github">
                        </div>
                    </div>
                </div>

                <div class="form-group text-right">
                    <button type="button" class="btn btn-primary" ng-click="saveUser()" data-translate="operations.save"></button>
                </div>
            </div>
        </div>
    </div>
</div>