<div class="text-center mbb">

    <h3 ng-bind-html="'modal.intro.step6.header' | translate | htmlSafe"></h3>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <ul class="text-left" style="font-size: 20px;">
                <li ng-bind-html="'modal.intro.step6.next1' | translate | htmlSafe"></li>
                <li ng-bind-html="'modal.intro.step6.next2' | translate | htmlSafe"></li>
                <li ng-bind-html="'modal.intro.step6.next3' | translate | htmlSafe"></li>
            </ul>
        </div>
    </div>

</div>