<section class="page">
    <div class="row">
        <div class="col-md-12 text-center">

            <div id="pricing" class="fus-section fus-pricing">
              <div class="fus-overlay"></div>
              <div class="container">
                <div class="fus-section-header">
                  <h3 data-translate="payments.upgrade.title"></h3>
                  <h4 data-translate="payments.upgrade.subtitle"></h4>
                </div>
                <div class="row fus-pricing-table">
                  <div class="col-md-4 col-xs-12 fus-notfocus">
                    <ul class="media-list pull-right">
                      <li class="fus-list-header">
                        <h5 data-translate="payments.upgrade.free-title"></h5>
                        <p data-translate="payments.upgrade.free-amount"></p>
                        <h5 data-translate="payments.upgrade.free-credit"></h5>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.unlimited"></h4>
                          <p class="media-text" data-translate="payments.upgrade.unlimited-txt"></p>
                        </div>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.publish"></h4>
                          <p class="media-text" data-translate="payments.upgrade.publish-txt"></p>
                        </div>
                      </li>
                      <li class="media disabled">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-remove-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.mode"></h4>
                          <p class="media-text" data-translate="payments.upgrade.mode-txt"></p>
                        </div>
                      </li>
                      <li class="media disabled">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-remove-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.collaboration"></h4>
                          <p class="media-text" data-translate="payments.upgrade.collaboration-txt"></p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 fus-focus">
                    <ul class="media-list">
                      <li class="fus-list-header">
                        <h5 data-translate="payments.upgrade.individual-title"></h5>
                        <p>{{ 'payments.currency.symbol' | translate:'{amount: 7}' }}  /<small>{{'label-month' | translate}}</small></p>
                        <h5 data-translate="payments.upgrade.individual-trial"></h5>
                      </li>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.unlimited"> </h4>
                          <p class="media-text" data-translate="payments.upgrade.unlimited-txt"></p>
                        </div>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.publish"> </h4>
                          <p class="media-text" data-translate="payments.upgrade.publish-txt"> </p>
                        </div>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.mode"></h4>
                          <p class="media-text" data-translate="payments.upgrade.mode-txt"></p>
                        </div>
                      </li>
                      <li class="media disabled">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-remove-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.collaboration"></h4>
                          <p class="media-text"  data-translate="payments.upgrade.collaboration-txt"></p>
                        </div>
                      </li>
                      <li class="media">
                        <payment-modal button-text="{{'payments.upgrade.individual-btn' | translate}}"></payment-modal>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 fus-notfocus">
                    <ul class="media-list">
                      <li class="fus-list-header">
                        <h5 data-translate="payments.upgrade.department-title"></h5>
                        <p>{{ 'payments.currency.symbol' | translate:'{amount: 25}' }}  /<small>{{'label-month' | translate}}</small></p>
                        <h5 data-translate="payments.upgrade.department-trial"></h5>
                      </li>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.unlimited"></h4>
                          <p class="media-text" data-translate="payments.upgrade.unlimited-txt"></p>
                        </div>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.publish"></h4>
                          <p class="media-text" data-translate="payments.upgrade.publish-txt"></p>
                        </div>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.mode"></h4>
                          <p class="media-text" data-translate="payments.upgrade.mode-txt"></p>
                        </div>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok-circle media-object"></span>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading" data-translate="payments.upgrade.collaboration"></h4>
                          <p class="media-text" data-translate="payments.upgrade.collaboration-txt"></p>
                        </div>
                      </li>
                      <li class="media">
                        <a class="btn btn-primary btn-lg btn-block" data-translate="payments.upgrade.department-btn"></a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
</section>
